$primaryColor: #fe7912;
$secondaryColor: #1d262d;
$secondaryColorFadedPressed: #27343d;
$secondaryColorFaded: #28343e;
$whiteColor: #ffffff;
$blackColor: #000000;
$headerBackgroundColor: #f7f8fa;

$fontFamilyBody: "Roboto-Regular", Helvetica;
$fontSizeBody: 16px;
$fontStyleBody: normal;
$fontWeightBody: 400;
$letterSpacingBody: 0.5px;
$lineHeightBody: 24px;

$fontFamilyButton: "Roboto-Medium", Helvetica;
$fontSizeButton: 14px;
$fontStyleButton: normal;
$fontWeightButton: 500;
$letterSpacingButton: 1.25px;
$lineHeightButton: 36px;

$fontFamilyH4: "Roboto-Regular", Helvetica;
$fontSizeH4: 34px;
$fontStyleH4: normal;
$fontWeightH4: 400;
$letterSpacingH4: 0.25px;
$lineHeightH4: 40px;