@import "./../../variables.scss";

.blankProjectContainer {
    height: 100%;
    width: 100%;
    padding-left: 4%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.blankProjectContainer .projectHeading {
    color: $secondaryColor;
    font-family: $fontFamilyH4;
    font-size: $fontSizeH4;
    font-style: $fontStyleH4;
    font-weight: $fontWeightH4;
    letter-spacing: $letterSpacingH4;
    line-height: $lineHeightH4;
    margin-top: 4%;
}

.projectBody {
    color: rgba($secondaryColor, 0.5);
    font-family: $fontFamilyBody;
    font-size: $fontSizeBody;
    font-style: $fontStyleBody;
    font-weight: $fontWeightBody;
    letter-spacing: $letterSpacingBody;
    line-height: $lineHeightBody;
    padding-top: 1%;
}

.link, .link:hover, .link:active, .link:visited {
    color: $primaryColor;
    text-decoration: none;
    cursor: pointer;
}

.blankProjectBackground {
    height: 438px;
    width: 649px;
    align-self: center;
    margin: 5%;
}